.container {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  svg {
    font-size: 36px;
  }

  h1 {
    margin-left: 24px;
  }
}

.lighter {
  color: var(--gray3);
}

.btnGroup {
  display: flex;
  position: relative;
  width: 100%;
  
  &::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 105%;
    height: 1px;
    background: var(--line);
  }
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
  font-weight: 550;
  color: var(--text-color);
  text-decoration: none;

  background: transparent;
  
  cursor: pointer;
  
  padding: 12px 8px;
  &:not(:first-of-type) {
    margin-left: 24px;
  }
  
  border: none;

  &:hover::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 3px;
    background-color: var(--icon-color-accent);
    color: var(--gray6);
    z-index: 2;
  }
}

.active {
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 3px;
    background-color: var(--icon-color-accent);
    color: var(--gray6);
    z-index: 2;
  }
}