.link {
  display: flex;
  align-items: center;
  flex-direction: row;
  image-rendering: crisp-edges;
  min-height: var(--top-bar-height);
  margin-left: 18px;
  text-decoration: none;

  svg {
    width: 32px;
    height: 32px; 
  } 
}

.logo {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.04em;
  padding-left: 1rem;
  color: var(--h-color);
}

[class*="dark"] * .link {
  svg {
    fill: var(--h-color);
  }
}