.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  width: var(--drawer-width);
  border-right: 1px solid var(--border-color);
  background: var(--main-bg);
  transition: var(--theme-transition);
  z-index: 100;
}

.list {
  margin: 32px 0;
  list-style-type: none;
  padding: 0px;
}

.listItem {
  margin-bottom: 20px;
}

[class*="expandableContent"] {
  .listItem {
    margin: 10px 0 0 0;
  }
}