.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: .3px;
  padding: .75rem !important;
  color: var(--gray0);
  border-radius: 50px;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.primary {
  background: var(--purple-light);
}

.secondary {
  background: var(--green-dark);
  color: var(--gray6);
}

.disabled {
  background: var(--gray2);
  cursor: auto;
}